<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEDROOM WEATHER</title>
    <style>
        body {
            background: url("{{ url_for('static', filename='static/worldmap_bg_low.jpg') }}");
            background-size: auto;
            color:#c1e2f5;
            font-family: arial;
            font-style: italic;
            letter-spacing: 3px;
            }
    </style>
</head>
<body>
    <center>
    <h1>Bedroom Weather</h1>
    <p>{{ human_time }}</p>
    <p>{{ temp }}°c</p>
    <p>{{ humid }}%</p>
    <img src="{{ url_for('static', filename='bedroom.png') }}">
    <img src="{{ url_for('static', filename='outdoor.png') }}">
    </center>
</body>
</html>