<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BEDROOM WEATHER</title>
    <style>
        body {
            background: url("{{ url_for('static', filename='bokeh.jpg') }}");
            background-size: auto;
            color:#c1e2f5;
            font-family: arial;
            font-style: italic;
            letter-spacing: 3px;
            }
        table {
            padding-right: 30px;
            padding-left: 30px;
            }
    </style>
</head>
<body align="center">
    <h1>Bedroom Weather</h1>
        <p>{{ human_time }}</p>
        <table align="center">
            <tr align="left">
                <th>Indoor</th>
            </tr>
            <tr align="left">
                <td align="left">{{ indoor_temp }}°c</td>
            </tr>
            <tr align="left">
                <td>{{ indoor_humid }}%</td>
            </tr>

        </table>
    <table align="center">
            <tr align="left">
                <th>Outdoor</th>
            </tr>
            <tr align="left">
                <td>{{ outdoor_temp }}ºc</td><td>{{ outdoor_pressure }}hPa</td>
            </tr>
            <tr align="left">
                <td>{{ outdoor_humid }}%</td><td>{{ outdoor_wind_speed }}km/h @ {{ outdoor_wind_dir }}º</td>
            </tr>
        </table>
    <img src="{{ url_for('static', filename='bedroom.png') }}">
    <img src="{{ url_for('static', filename='outdoor.png') }}">
    </center>
</body>
</html>